# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
.VSCodeCounter/2024-04-29_23-34-38/details.md
.VSCodeCounter/2024-04-29_23-34-38/diff-details.md
.VSCodeCounter/2024-04-29_23-34-38/diff.csv
.VSCodeCounter/2024-04-29_23-34-38/diff.md
.VSCodeCounter/2024-04-29_23-34-38/diff.txt
.VSCodeCounter/2024-04-29_23-34-38/results.csv
.VSCodeCounter/2024-04-29_23-34-38/results.json
.VSCodeCounter/2024-04-29_23-34-38/results.md
.VSCodeCounter/2024-04-29_23-34-38/results.txt

uploads/